:root {
  --clr-text: #293264;
  --clr-fill: #4D5B9E;
  --clr-bg: #F5F7FB;
}

body {
  font-family: "Inter", sans-serif;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

#root {
  min-height: 100vh;
  /* border-radius: 10px; */
  /* overflow: hidden; */
  box-shadow: 1px 1px 3px 0px #9E9E9E;

  color: var(--clr-text);
  background: no-repeat top right/min(35%, 300px) url("./assets/home-blobs-top.svg"),
            no-repeat bottom left/min(26%, 220px) url("./assets/home-blobs-bot.svg");
  background-color: var(--clr-bg);

  display: flex;
  justify-content: center;
  align-items: center;
}
