:root {
  --clr-text: #293264;
  --clr-fill: #4D5B9E;
  --clr-bg: #F5F7FB;
}

body {
  font-family: "Inter", sans-serif;

}

#root {
  padding-inline: 20px;
  min-height: 100vh;
  box-shadow: 1px 1px 3px 0px #9E9E9E;

  color: var(--clr-text);
  background: no-repeat top right/min(calc((100vw - 550px) / 2), 300px) url("./assets/home-blobs-top.svg"),
            no-repeat bottom left/min(calc((100vw - 550px) / 2), 220px) url("./assets/home-blobs-bot.svg");
  background-color: var(--clr-bg);

  display: flex;
  justify-content: center;
  align-items: center;
}
